In [1]:
import pandas as pd

data = pd.read_csv('C:/Users/ASUS/Downloads/project/python-rescue-station/data/csv/Thuyhe_HCM_motphan_test_graph.csv')
# data.head(6)
data

      FID_Thuyhe    Id  FromPoint  ToPoint   chieudai
0              1     1          0        1  10.000000
1              1     2          1        2  10.000000
2              1     3          2        3  10.000000
3              1     4          3        4  10.000000
4              1     5          4        5  10.000000
...          ...   ...        ...      ...        ...
9840           1  9841       9841     9842  10.000000
9841           1  9842       9842     9843  10.000000
9842           1  9843       9843     9844  10.000000
9843           1  9844       9844     9845   5.120352
9844           1  9845       9845     7119  10.000000

[9845 rows x 5 columns]

In [2]:
df_rows = data.iloc[:9845]

# Hiển thị kết quả
print(df_rows)

      FID_Thuyhe    Id  FromPoint  ToPoint   chieudai
0              1     1          0        1  10.000000
1              1     2          1        2  10.000000
2              1     3          2        3  10.000000
3              1     4          3        4  10.000000
4              1     5          4        5  10.000000
...          ...   ...        ...      ...        ...
9840           1  9841       9841     9842  10.000000
9841           1  9842       9842     9843  10.000000
9842           1  9843       9843     9844  10.000000
9843           1  9844       9844     9845   5.120352
9844           1  9845       9845     7119  10.000000

[9845 rows x 5 columns]

In [3]:
# Chọn 3 cột và sắp xếp lại thứ tự cột
df_selected = df_rows[['Id', 'FromPoint', 'ToPoint', 'chieudai']]

# Đổi tên các cột
#df_selected.columns = ['distance', 'name', 'DestinationName']

# Hiển thị kết quả
print(df_selected)

        Id  FromPoint  ToPoint   chieudai
0        1          0        1  10.000000
1        2          1        2  10.000000
2        3          2        3  10.000000
3        4          3        4  10.000000
4        5          4        5  10.000000
...    ...        ...      ...        ...
9840  9841       9841     9842  10.000000
9841  9842       9842     9843  10.000000
9842  9843       9843     9844  10.000000
9843  9844       9844     9845   5.120352
9844  9845       9845     7119  10.000000

[9845 rows x 4 columns]

In [4]:
# Nhập id x và id y từ người dùng
x = int(input("Nhập id x: "))
y = int(input("Nhập id y: "))

# Lọc ra các dòng có Id nằm trong khoảng từ id x đến id y
filtered_df = df_selected[(df_selected['Id'] >= x) & (df_selected['Id'] <= y)]

# In ra DataFrame mới
print(filtered_df)


#note 1 => chỉnh code cho phép nhập id để chọn ra vùng cần tính
#note 2 => cho chọn cạnh trực tiếp trên hình, lọc id để chọn ra vùng cần tính

     Id  FromPoint  ToPoint  chieudai
49   50         49       50      10.0
50   51         50       51      10.0
51   52         51       52      10.0
52   53         52       53      10.0
53   54         53       54      10.0
54   55         54       55      10.0
55   56         55       56      10.0
56   57         56       57      10.0
57   58         57       58      10.0
58   59         58       59      10.0
59   60         59       60      10.0
60   61         60       61      10.0
61   62         61       62      10.0
62   63         62       63      10.0
63   64         63       64      10.0
64   65         64       65      10.0
65   66         65       66      10.0
66   67         66       67      10.0
67   68         67       68      10.0
68   69         68       69      10.0
69   70         69       70      10.0
70   71         70       71      10.0
71   72         71       72      10.0
72   73         72       73      10.0
73   74         73       74      10.0
74   75         74       75      10.0
75   76         75       76      10.0
76   77         76       77      10.0
77   78         77       78      10.0
78   79         78       79      10.0
79   80         79       80      10.0
80   81         80       81      10.0
81   82         81       82      10.0
82   83         82       83      10.0
83   84         83       84      10.0
84   85         84       85      10.0
85   86         85       86      10.0
86   87         86       87      10.0
87   88         87       88      10.0
88   89         88       89      10.0
89   90         89       90      10.0
90   91         90       91      10.0
91   92         91       92      10.0
92   93         92       93      10.0
93   94         93       94      10.0
94   95         94       95      10.0
95   96         95       96      10.0
96   97         96       97      10.0
97   98         97       98      10.0
98   99         98       99      10.0
99  100         99      100      10.0

In [5]:
# Tạo một bản sao độc lập của DataFrame filtered_df
filtered_df_copy = filtered_df.copy()

# Tính tổng của cột 'chieudai'
net_length_value = filtered_df_copy['chieudai'].sum()

# Gán giá trị của tổng vào cột 'net_length' của hàng đầu tiên
filtered_df_copy.loc[filtered_df_copy.index[0], 'net_length'] = net_length_value

# Gán giá trị NaN cho các hàng còn lại của cột 'net_length'
filtered_df_copy.loc[filtered_df_copy.index[1:], 'net_length'] = float('0')

# In ra DataFrame mới có cột 'net_length'
print(filtered_df_copy)

     Id  FromPoint  ToPoint  chieudai  net_length
49   50         49       50      10.0       510.0
50   51         50       51      10.0         0.0
51   52         51       52      10.0         0.0
52   53         52       53      10.0         0.0
53   54         53       54      10.0         0.0
54   55         54       55      10.0         0.0
55   56         55       56      10.0         0.0
56   57         56       57      10.0         0.0
57   58         57       58      10.0         0.0
58   59         58       59      10.0         0.0
59   60         59       60      10.0         0.0
60   61         60       61      10.0         0.0
61   62         61       62      10.0         0.0
62   63         62       63      10.0         0.0
63   64         63       64      10.0         0.0
64   65         64       65      10.0         0.0
65   66         65       66      10.0         0.0
66   67         66       67      10.0         0.0
67   68         67       68      10.0         0.0
68   69         68       69      10.0         0.0
69   70         69       70      10.0         0.0
70   71         70       71      10.0         0.0
71   72         71       72      10.0         0.0
72   73         72       73      10.0         0.0
73   74         73       74      10.0         0.0
74   75         74       75      10.0         0.0
75   76         75       76      10.0         0.0
76   77         76       77      10.0         0.0
77   78         77       78      10.0         0.0
78   79         78       79      10.0         0.0
79   80         79       80      10.0         0.0
80   81         80       81      10.0         0.0
81   82         81       82      10.0         0.0
82   83         82       83      10.0         0.0
83   84         83       84      10.0         0.0
84   85         84       85      10.0         0.0
85   86         85       86      10.0         0.0
86   87         86       87      10.0         0.0
87   88         87       88      10.0         0.0
88   89         88       89      10.0         0.0
89   90         89       90      10.0         0.0
90   91         90       91      10.0         0.0
91   92         91       92      10.0         0.0
92   93         92       93      10.0         0.0
93   94         93       94      10.0         0.0
94   95         94       95      10.0         0.0
95   96         95       96      10.0         0.0
96   97         96       97      10.0         0.0
97   98         97       98      10.0         0.0
98   99         98       99      10.0         0.0
99  100         99      100      10.0         0.0

In [6]:
import networkx as nx

# Tạo đồ thị từ dataframe
G = nx.from_pandas_edgelist(filtered_df, 'FromPoint', 'ToPoint', ['chieudai'])

# Tính toán khoảng cách giữa các cặp đỉnh
distances = []

for source in filtered_df['FromPoint']:
    for target in filtered_df['ToPoint']:
        if source != target:
            distance = nx.shortest_path_length(G, source=source, target=target, weight='chieudai')
            distances.append({'FromPoint': source, 'ToPoint': target, 'chieudai': distance})

# Tạo dataframe từ kết quả
distance_df = pd.DataFrame(distances)

print(distance_df)

      FromPoint  ToPoint  chieudai
0            49       50      10.0
1            49       51      20.0
2            49       52      30.0
3            49       53      40.0
4            49       54      50.0
...         ...      ...       ...
2546         99       95      40.0
2547         99       96      30.0
2548         99       97      20.0
2549         99       98      10.0
2550         99      100      10.0

[2551 rows x 3 columns]

In [7]:
# Trộn các kết quả vào chung 3 cột chieudai, FromPoint, ToPoint
merged_df = pd.concat([filtered_df[['FromPoint', 'ToPoint', 'chieudai']], distance_df])

# Reset index để tránh index trùng lặp
merged_df.reset_index(drop=True, inplace=True)

# Hiển thị kết quả
print(merged_df)

      FromPoint  ToPoint  chieudai
0            49       50      10.0
1            50       51      10.0
2            51       52      10.0
3            52       53      10.0
4            53       54      10.0
...         ...      ...       ...
2597         99       95      40.0
2598         99       96      30.0
2599         99       97      20.0
2600         99       98      10.0
2601         99      100      10.0

[2602 rows x 3 columns]

In [8]:
# Đổi tên các cột
df = merged_df.rename(columns={"FromPoint": "StartPoint", "ToPoint": "EndPoint", "chieudai": "Distance"})

print(df)

      StartPoint  EndPoint  Distance
0             49        50      10.0
1             50        51      10.0
2             51        52      10.0
3             52        53      10.0
4             53        54      10.0
...          ...       ...       ...
2597          99        95      40.0
2598          99        96      30.0
2599          99        97      20.0
2600          99        98      10.0
2601          99       100      10.0

[2602 rows x 3 columns]

In [9]:
# Thêm cột 'net_length' vào DataFrame 2
df['net_length'] = 0.0  # Khởi tạo cột với giá trị 0
df.loc[0, 'net_length'] = net_length_value  # Gán giá trị của tổng vào hàng đầu tiên

# In ra DataFrame mới có cột 'net_length'
print(df)

      StartPoint  EndPoint  Distance  net_length
0             49        50      10.0       510.0
1             50        51      10.0         0.0
2             51        52      10.0         0.0
3             52        53      10.0         0.0
4             53        54      10.0         0.0
...          ...       ...       ...         ...
2597          99        95      40.0         0.0
2598          99        96      30.0         0.0
2599          99        97      20.0         0.0
2600          99        98      10.0         0.0
2601          99       100      10.0         0.0

[2602 rows x 4 columns]

In [10]:
import os

# Đường dẫn đến thư mục
folder_path = r'C:/Users/ASUS/Downloads/project/python-rescue-station/data/csv'

# Kiểm tra nếu thư mục không tồn tại, tạo mới
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Tạo đường dẫn đến file CSV trong thư mục
file_path = os.path.join(folder_path, 'network_distance.csv')

# Lưu dataframe thành file CSV
df.to_csv(file_path, index=False)

# Hiển thị kết quả
print("File CSV đã được lưu thành công vào thư mục:", folder_path)

File CSV đã được lưu thành công vào thư mục: C:/Users/ASUS/Downloads/project/python-rescue-station/data/csv